body {
    margin: 0;
    padding: 0;
    background-color: #0A1128; /* Ou #9bb2ff */
}

nav {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #060b1a;
    display: flex;
    justify-content: space-between; /* Deixa cada item nas extremidades */
    color:#B1B7D1;
    padding:20px 30px;
    margin: 0;
    box-shadow: 0 2px 9px rgba(255, 255, 255, 0.3);
    font-weight: 900;
}

.links {
    display: flex;
    gap: 15px;
}
nav a {
    color:#B1B7D1;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.2s;
}

nav a:hover {
    color:#5967ff;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 18px;
}

#game_name{
    color:#5967ff;
    margin-left: 15px;
}

#tema{
    background-color: #9bb2ff;
    position:fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 25%;
    border-color: #5967ff;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    color:#B1B7D1;
    
}
#tema:hover{
    transform: translateY(-2px);
    box-shadow: 0 0 20px rgba(89, 103, 255, 0.7);
}

 #tema svg { 
    width: 24px; 
    height: 24px; 
    fill: currentColor; 
    color: var(--text); }
