body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f0f0f;
}
header{
    background-color: #1b072e;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Estilo para o logo */
.logo_jogo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 6px;
}
header nav ul{
    list-style: none;
    display: flex;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 15px;
    transition: all 0.3s ease;
}

nav a:hover{
    background-color: #3e0a4f;
    border-radius: 70px;
    text-transform:capitalize;
}
main{
    padding: 20px;
    color: white;
}

.inicio_jogo {
    background-color: #3e0a4f;
    height: 100px;
    width: 100%;
    margin-top: 10px;
    line-height: 100px; /* Centraliza verticalmente o texto */
    text-align: center;
    border-radius: 7px;
}
footer{
    background-color: #1b072e;
    color: white;
    text-align: center;
    padding: 5px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
